<div class="background-theme" [ngClass]="{'hide-element': hideOptions}">
  <div class="option" (click)="startGame()">Play</div>
  <div class="option" (click)="goToSettings()">Settings</div>
  <!-- Add more menu options here-->
</div>

<div class="background-theme" [ngClass]="{'hide-element': hideGameSettings}">
  <div class="option">
    <span>Mines: </span><input #minesNumber type="number" placeholder="Enter number" />
  </div>
  <div class="option" (click)="confirmSettings()">Confirm</div>
  <div class="option" (click)="cancelSettings()">Cancel</div>
</div>

@if(hideGameSettings && hideOptions){
  <app-game ></app-game>
}

<router-outlet></router-outlet>

