<div class="background-theme" [ngClass]="{'hide-element': hideOptions}">
  <div class="option" (click)="startGame()">Play</div>
  <div class="option" (click)="goToSettings()">Settings</div>
  <!-- Add more menu options here-->
</div>

<div class="background-theme" [ngClass]="{'hide-element': hideGameSettings}">
  <div class="option">
    <span>Mines: </span><input #minesNumber type="number" placeholder="Enter number" />
  </div>
  <div>
    <mat-form-field>
      <mat-label>Choose an option</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="option" (click)="confirmSettings()">Confirm</div>
  <div class="option" (click)="cancelSettings()">Cancel</div>
</div>

@if(hideGameSettings && hideOptions){
  <app-game [parameters]="gameParameters"></app-game>
}

<router-outlet></router-outlet>

