.game-board{
  display: flex;
  flex-direction: column;
  background: grey;
  width: 30vw;

  .rows{
    display: flex;
    justify-content: space-between;

    .cell{
      width: 20px;
      height: 20px;

      &:hover{
        cursor: pointer;
      }

      .closed-cell{
        background-color: red;
        // background-image: url('assets/images/test.jpg');
        // background-size: cover;
        // background-position: center;
      }

      .closed-cell-with-marker{
        background-color: blue;
      }

      .opened-cell-without-mine{
        background-color: green;
      }

      .opened-cell-with-mine{
        background-color: yellow;
      }
    }
  }
}
