.game-board{
  display: flex;
  flex-direction: column;
  background: grey;
  width: 30vw;

  .rows{
    display: flex;
    justify-content: space-between;

    .cell{

      &:hover{
        cursor: pointer;
      }
    }
  }
}
