<div class="game-board">
  @for(rows of board?.rows; track $index; let rowIndex = $index){
    <div class="rows">
      @for(cell of rows; track $index; let cellIndex = $index){
        @if(cell.state === CellState.CLOSED_WITH_MARKER ||  cell.state === CellState.CLOSED){
          <div class="cell closed-cell" (click)="openCell(rowIndex, cellIndex)" (auxclick)="addMarker(rowIndex, cellIndex)" >
            @if(cell.state === CellState.CLOSED_WITH_MARKER){
              <span class="closed-cell-marker">F</span>
            }
          </div>
        }@else {
          <div class="cell opened-cell">
            @if(!cell.mine && cell.neighborMines > 0){
              <span class="display-cell-content">{{cell.neighborMines}}</span>
            }@else if(cell.mine) {
              <span class="display-cell-content">M</span>
            }
          </div>
        }
      }
    </div>
  }
</div>

<!-- <img src="assets/images/test.jpg"/> -->

