/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0%;
  background: $background-body;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.background-theme{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vh;
  background-color: grey;
  border-radius: 8px;

  .option{
    width: 100%;
    text-align: center;
    padding: 10px;
    &:hover{
      cursor: pointer;
      background-color: rgb(238, 234, 234);
      border-radius: 8px;
    }
  }
}

.hide-element{
  display: none;
}

.game-board{
  background: $background-board;

  & .opened-cell{
    background: red;
  }
}


